*{
    font-family: 'Segoe UI';
}

.title h1{
    margin: 70px 20px 20px 20px;
    font-size: 30px;
}

.periodo img{
    height: 35px;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    margin-top: -1px;
    
}

.periodo input{
    font-size: 17px;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: rgb(54, 53, 53);
    font-weight: 500;
    height: 35px;
}

.periodo{
    display: flex;
    flex-direction: row;
    background-color: #6A5ACD;
    height: 80px;
    padding: 20px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.periodo p{
    color: white;
}

.periodo p, .periodo input, .periodo img{
    margin-right: 10px;
}

.card{
    border: none;
    height: 10rem;
    width: 23rem;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 70px;

    color: white;
}

.conteiner{
    margin-bottom: 100px;
}

.card-body{
   font-weight: 500; 
}

.card-1, .card-4{
    background-position: right;
    background-image: url(../img/information.png);
    background-color: #17A0BC;
}

.card-2, .card-5{
    background-image: url(../img/credit-card.png);
    background-color: #27A844;
}

.card-3, .card-6{
    background-image: url(../img/money-2.png);
    background-color: #6F42C1;
}
